#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-top_title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}