#s-02af47ae-eb21-4391-94ad-b8d062849776 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Rectangle_5 {
  position: absolute;
  width: 360px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Rectangle_5 > .clipping, #s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Rectangle_5 > .paddingLayer {
  height: 19px;
  width: 328px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Rectangle_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Group_2 {
  position: absolute;
  width: 360px;
  height: 52px;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Rectangle_2 {
  position: absolute;
  width: 360px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Rectangle_2 > .clipping, #s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Rectangle_2 > .paddingLayer {
  height: 19px;
  width: 328px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Rectangle_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #shapewrapper-s-Line_1 marker {
  fill: rgba(253,103,106,0.6);
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 252px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Line_1 {
  width: 252px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: rgba(253,103,106,0.6);
  box-shadow: none;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-top_title > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FECB9C;
  background-image: none;
  box-shadow: none;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-top_title {
  position: absolute;
  width: 360px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 34px;
  font-size: 18.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-top_title > .clipping, #s-02af47ae-eb21-4391-94ad-b8d062849776 #s-top_title > .paddingLayer {
  height: 34px;
  width: 338px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  padding-right: 11px;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-top_title .valign {
  vertical-align: top;
  text-align: center;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-top_title span {
  color: #FD676A;
  text-align: center;
  text-decoration: underline;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-top_title span#rtr-s-top_title_0 {
  color: #FD676A;
  text-align: center;
  text-decoration: underline;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Image_71 > svg {
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Image_71 {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Image_71 > img, #s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Image_71 > svg {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Image_5 > svg {
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Image_5 {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Image_5 > img, #s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Image_5 > svg {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Image_72 > svg {
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Image_72 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Image_72 > img, #s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Image_72 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Image_73 > svg {
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Image_73 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Image_73 > img, #s-02af47ae-eb21-4391-94ad-b8d062849776 #s-Image_73 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-02af47ae-eb21-4391-94ad-b8d062849776 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}