#s-1339c30f-fae4-4ce0-b53d-8ccddedca792 #s-top_title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1339c30f-fae4-4ce0-b53d-8ccddedca792 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1339c30f-fae4-4ce0-b53d-8ccddedca792 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1339c30f-fae4-4ce0-b53d-8ccddedca792 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1339c30f-fae4-4ce0-b53d-8ccddedca792 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}