#s-33a36ffa-b361-4332-96ad-a55872a2c66a #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33a36ffa-b361-4332-96ad-a55872a2c66a #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33a36ffa-b361-4332-96ad-a55872a2c66a #s-top_title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33a36ffa-b361-4332-96ad-a55872a2c66a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33a36ffa-b361-4332-96ad-a55872a2c66a #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33a36ffa-b361-4332-96ad-a55872a2c66a #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33a36ffa-b361-4332-96ad-a55872a2c66a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33a36ffa-b361-4332-96ad-a55872a2c66a #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33a36ffa-b361-4332-96ad-a55872a2c66a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33a36ffa-b361-4332-96ad-a55872a2c66a #s-Image_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33a36ffa-b361-4332-96ad-a55872a2c66a #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33a36ffa-b361-4332-96ad-a55872a2c66a #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33a36ffa-b361-4332-96ad-a55872a2c66a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33a36ffa-b361-4332-96ad-a55872a2c66a #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33a36ffa-b361-4332-96ad-a55872a2c66a #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33a36ffa-b361-4332-96ad-a55872a2c66a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33a36ffa-b361-4332-96ad-a55872a2c66a #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-33a36ffa-b361-4332-96ad-a55872a2c66a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}