#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-top_title {
  -ms-transform: rotate(0.0deg);
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Rectangle_2 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FD676A;
  -ms-transform: rotate(0.0deg);
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Rectangle_3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FD676A;
  -ms-transform: rotate(0.0deg);
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Rectangle_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FD676A;
  -ms-transform: rotate(0.0deg);
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}