#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-top_title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-782b1589-42db-46db-8f44-6cbbe66f8e37 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}