#s-94a9004e-197b-4936-b208-7151a1b4a8f7 #s-top_title {
  -ms-transform: rotate(0.0deg);
}
#s-94a9004e-197b-4936-b208-7151a1b4a8f7 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-94a9004e-197b-4936-b208-7151a1b4a8f7 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-94a9004e-197b-4936-b208-7151a1b4a8f7 #s-Rectangle_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FD676A;
  -ms-transform: rotate(0.0deg);
}
#s-94a9004e-197b-4936-b208-7151a1b4a8f7 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-94a9004e-197b-4936-b208-7151a1b4a8f7 #s-Rectangle_2 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FD676A;
  -ms-transform: rotate(0.0deg);
}
#s-94a9004e-197b-4936-b208-7151a1b4a8f7 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-94a9004e-197b-4936-b208-7151a1b4a8f7 #s-Rectangle_3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FD676A;
  -ms-transform: rotate(0.0deg);
}
#s-94a9004e-197b-4936-b208-7151a1b4a8f7 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-94a9004e-197b-4936-b208-7151a1b4a8f7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}