#s-b39a0eaa-db4b-41e6-a93c-d93572a6c88a #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b39a0eaa-db4b-41e6-a93c-d93572a6c88a #s-Image_75 {
  -ms-transform: rotate(0.0deg);
}
#s-b39a0eaa-db4b-41e6-a93c-d93572a6c88a #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b39a0eaa-db4b-41e6-a93c-d93572a6c88a #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-b39a0eaa-db4b-41e6-a93c-d93572a6c88a #s-Line_1 {
  stroke-width: 2px;
  stroke: rgba(253,103,106,0.6);
  -ms-transform: rotate(0.0deg);
}
#s-b39a0eaa-db4b-41e6-a93c-d93572a6c88a #s-Line_1 {
  stroke-width: 2px;
  stroke: rgba(253,103,106,0.6);
  -ms-transform: rotate(0.0deg);
}
#s-b39a0eaa-db4b-41e6-a93c-d93572a6c88a #s-top_title {
  -ms-transform: rotate(0.0deg);
}
#s-b39a0eaa-db4b-41e6-a93c-d93572a6c88a #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-b39a0eaa-db4b-41e6-a93c-d93572a6c88a #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b39a0eaa-db4b-41e6-a93c-d93572a6c88a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}