#s-b39a0eaa-db4b-41e6-a93c-d93572a6c88a #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b39a0eaa-db4b-41e6-a93c-d93572a6c88a #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b39a0eaa-db4b-41e6-a93c-d93572a6c88a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b39a0eaa-db4b-41e6-a93c-d93572a6c88a #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b39a0eaa-db4b-41e6-a93c-d93572a6c88a #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b39a0eaa-db4b-41e6-a93c-d93572a6c88a #s-top_title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b39a0eaa-db4b-41e6-a93c-d93572a6c88a #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b39a0eaa-db4b-41e6-a93c-d93572a6c88a #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b39a0eaa-db4b-41e6-a93c-d93572a6c88a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}