#s-c2f989cf-f869-4e90-a5be-0bde76df88d4 #s-top_title {
  -ms-transform: rotate(0.0deg);
}
#s-c2f989cf-f869-4e90-a5be-0bde76df88d4 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c2f989cf-f869-4e90-a5be-0bde76df88d4 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c2f989cf-f869-4e90-a5be-0bde76df88d4 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c2f989cf-f869-4e90-a5be-0bde76df88d4 #s-Line_1 {
  stroke-width: 2px;
  stroke: rgba(253,103,106,0.6);
  -ms-transform: rotate(0.0deg);
}
#s-c2f989cf-f869-4e90-a5be-0bde76df88d4 #s-Line_1 {
  stroke-width: 2px;
  stroke: rgba(253,103,106,0.6);
  -ms-transform: rotate(0.0deg);
}
#s-c2f989cf-f869-4e90-a5be-0bde76df88d4 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-c2f989cf-f869-4e90-a5be-0bde76df88d4 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c2f989cf-f869-4e90-a5be-0bde76df88d4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}