<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recipemanager">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.recipecollection.ViewCollectionActivity" />
        <activity android:name=".ui.recipe.ViewRecipeActivity" />
        <activity android:name=".ui.addtocollection.AddToCollectionActivity" />
        <activity android:name=".ui.recipecollection.CreateCollectionActivity" />
        <activity android:name=".ui.recipe.EditRecipeActivity" />
        <activity android:name=".ui.MainActivity"></activity>
    </application>

</manifest>